## 데이터프레임의 기본 연산
Series 데이터와 같이 DataFrame에도 `브로드캐스팅`이 적용됩니다.  
예를 들어, 수치 연산은 전체 데이터에 확장 적용됩니다.

In [1]:
from pandas import DataFrame

data = [
    {'시가': 100, '고가': 110, '저가': 90, '종가': 105}, 
    {'시가':  90, '고가': 112, '저가': 80, '종가':  95}, 
    {'시가':  80, '고가': 115, '저가': 70, '종가':  85}, 
    {'시가':  70, '고가':  80, '저가': 60, '종가':  75}, 
]

df = DataFrame(data, index=['20200615', '20200616', '20200617', '20200618'])
df

           시가   고가  저가   종가
20200615  100  110  90  105
20200616   90  112  80   95
20200617   80  115  70   85
20200618   70   80  60   75

df에 덧셈 연산을 적용해 봅시다.

In [4]:
df + 10

           시가   고가   저가   종가
20200615  110  120  100  115
20200616  100  122   90  105
20200617   90  125   80   95
20200618   80   90   70   85

비교 연산 또한 전체 데이터에 적용됩니다.

In [6]:
df > 10

            시가    고가    저가    종가
20200615  True  True  True  True
20200616  True  True  True  True
20200617  True  True  True  True
20200618  True  True  True  True

비교 연산의 수행 결과 boolean형 데이터가 저장된 DataFrame 객체가 반환됩니다.

In [13]:
cond = df > 100
cond

             시가     고가     저가     종가
20200615  False   True  False   True
20200616  False   True  False  False
20200617  False   True  False  False
20200618  False  False  False  False

In [34]:
# 시가가 90원 이상일때 그날의 종가를 알고 싶어
cond = df['시가'] >= 90
#df.loc[cond][['시가','종가']]
df.loc[cond, ['시가','종가']]

           시가   종가
20200615  100  105
20200616   90   95

In [50]:
# 고가와 저가의 차이를 변동폭이라고 정의할 때, 변동폭이 15보다 큰행을 출력하라
변동폭 = df['고가'] - df['저가']
cond = 변동폭 > 30
df.loc[cond]

df.loc[(df['고가'] - df['저가'])>30]

          시가   고가  저가  종가
20200616  90  112  80  95
20200617  80  115  70  85

Q. 값이 100보다 작은 경우 데이터프레임의 값을 0으로 채워 봅시다. 
- 조건 
- replace
- fillna

판다스는 다양한 메서드를 제공합니다.

In [51]:
df = DataFrame(data, index=['20200615', '20200616', '20200617', '20200618'])
df

           시가   고가  저가   종가
20200615  100  110  90  105
20200616   90  112  80   95
20200617   80  115  70   85
20200618   70   80  60   75

`mean` 메서드는 평균을 계산합니다.

In [45]:
df.mean()

시가     85.00
고가    104.25
저가     75.00
종가     90.00
dtype: float64

`min` / `max` 함수는 최대, 최소 값을 출력합니다.

In [47]:
df.max()
df.min()

시가    70
고가    80
저가    60
종가    75
dtype: int64

In [48]:
df.corr()

          시가        고가        저가        종가
시가  1.000000  0.689197  1.000000  1.000000
고가  0.689197  1.000000  0.689197  0.689197
저가  1.000000  0.689197  1.000000  1.000000
종가  1.000000  0.689197  1.000000  1.000000

Q. 시가에 매수하고 종가에 매도 했을 때의 누적 수익률을 출력하라.

In [52]:
data = [
    {'시가': 100, '고가': 110, '저가': 90, '종가': 105}, 
    {'시가':  90, '고가': 112, '저가': 80, '종가':  95}, 
    {'시가':  80, '고가': 115, '저가': 70, '종가':  85}, 
    {'시가':  70, '고가':  80, '저가': 60, '종가':  75}, 
]

df = DataFrame(data, index=['20200615', '20200616', '20200617', '20200618'])
df

           시가   고가  저가   종가
20200615  100  110  90  105
20200616   90  112  80   95
20200617   80  115  70   85
20200618   70   80  60   75

In [53]:
df['종가'] / df['시가']

20200615    1.050000
20200616    1.055556
20200617    1.062500
20200618    1.071429
dtype: float64

In [55]:
df['종가']

20200615    105
20200616     95
20200617     85
20200618     75
Name: 종가, dtype: int64

In [60]:
df['수익률'] = df['종가'] / df['시가'] # 리스트, 넘파이 ndarray, 시리즈
df

           시가   고가  저가   종가       수익률
20200615  100  110  90  105  1.050000
20200616   90  112  80   95  1.055556
20200617   80  115  70   85  1.062500
20200618   70   80  60   75  1.071429

In [61]:
df.loc['20200619'] = [0, 1, 2, 3, 4]
df

           시가   고가  저가   종가       수익률
20200615  100  110  90  105  1.050000
20200616   90  112  80   95  1.055556
20200617   80  115  70   85  1.062500
20200618   70   80  60   75  1.071429
20200619    0    1   2    3  4.000000

In [63]:
a = df
a.iloc[0,0] = 1000
a 
# a를 바꿔도 df가 수정안됨

            시가   고가  저가   종가       수익률
20200615  1000  110  90  105  1.050000
20200616    90  112  80   95  1.055556
20200617    80  115  70   85  1.062500
20200618    70   80  60   75  1.071429
20200619     0    1   2    3  4.000000

Q. 데이터 프레임에서 고가가 가장 높은 날이 날짜를 출력하라.

In [64]:
data = [
    {'시가': 100, '고가': 110, '저가': 90, '종가': 105}, 
    {'시가':  90, '고가': 112, '저가': 80, '종가':  95}, 
    {'시가':  80, '고가': 115, '저가': 70, '종가':  85}, 
    {'시가':  70, '고가':  80, '저가': 60, '종가':  75}, 
]

df = DataFrame(data, index=['20200615', '20200616', '20200617', '20200618'])
df

           시가   고가  저가   종가
20200615  100  110  90  105
20200616   90  112  80   95
20200617   80  115  70   85
20200618   70   80  60   75

In [86]:
cond = df['고가'] == df['고가'].max() 
df.index[cond] # df.index[조건]
df.index[df['고가'] == df['고가'].max()]

Index(['20200617'], dtype='object')

In [89]:
df['고가'].idxmin()

'20200618'

In [92]:
a = df[['고가']].copy() # 데이터 타입을 유지하려고 하나만 슬라이싱
a['상한가'] = df['고가'] * 1.3
a['하한가'] = df['고가'] * 0.7
a

           고가    상한가   하한가
20200615  110  143.0  77.0
20200616  112  145.6  78.4
20200617  115  149.5  80.5
20200618   80  104.0  56.0

In [93]:
df['고가'].to_frame()

           고가
20200615  110
20200616  112
20200617  115
20200618   80

In [95]:
df

           시가   고가  저가   종가
20200615  100  110  90  105
20200616   90  112  80   95
20200617   80  115  70   85
20200618   70   80  60   75

In [98]:
df.iloc[:2, :2] = 100
df

           시가   고가  저가   종가
20200615  100  100  90  105
20200616  100  100  80   95
20200617   80  115  70   85
20200618   70   80  60   75

## 데이터프레임 그룹화

복잡한 문제는 잘게 나누어 분석하고, 합쳐나가는 `Split-Apply-Combine` 전략을 사용해서 문제를 해결할 수 있습니다. 판다스가 제공하는 `groupby` 메서드를 사용하면 쉽게 `Split-Apply-Combine`을 사용할 수 있습니다. 
- split: `sex` 칼럼을 기준으로 같은 값을 같는 데이터로 분할합니다. 
- apply: 분할된 각각의 데이터에 mean/min/max/sum 등의 연산을 적용합니다.
- combine: 연산이 적용된 결과를 합쳐 하나의 테이블로 만듭니다.

<img src="https://i.ibb.co/9Z90Hsy/pandas-1-0.png" width="800" style="float:left" />

다음은 데이터프레임을 사용하 보겠습니다.

In [101]:
df = DataFrame({
    'sex'    : ['m', 'm', 'w', 'm', 'w'],
    'weight' : [76, 88, 54, 70, 45],
    'height' : [176, 190, 148, 177, 155]        
})
df

  sex  weight  height
0   m      76     176
1   m      88     190
2   w      54     148
3   m      70     177
4   w      45     155

In [116]:
m = df.loc[df['sex'] == 'm']
w = df.loc[df['sex'] == 'w']
m.mean()
w.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  after removing the cwd from sys.path.

weight     49.5
height    151.5
dtype: float64

In [118]:
#import numpy as np
import pandas as pd

#np.hstack((mdf.mean(), wdf.mean()))
a = pd.concat((m.mean(), w.mean()), axis=1) # DataFrame
a.columns = ['m','w']
a.T

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """

   weight  height
m    78.0   181.0
w    49.5   151.5

In [124]:
df['sex'].unique()
df['sex'].nunique()

2

In [134]:
gb = df.groupby('sex')
gb.get_group('w')

  sex  weight  height
2   w      54     148
4   w      45     155

In [135]:
gb.get_group('m')

  sex  weight  height
0   m      76     176
1   m      88     190
3   m      70     177

`groupby` 메서드를 사용하면 특정 항목을 기준으로 분류할 수 있습니다.

그룹화한 결과를 확인하기 위해서는 `get_group()` 메서드를 사용해야 합니다.
- 어떤 값을 get 할지 지정해야 함

In [ ]:
df = DataFrame({
    'sex'    : ['m', 'm', 'w', 'm', 'w'],
    'weight' : [76, 88, 54, 70, 45],
    'height' : [176, 190, 148, 177, 155]
})
df

  sex  weight  height
0   m      76     176
1   m      88     190
2   w      54     148
3   m      70     177
4   w      45     155

groupby와 함께 사용할 수 있는 기본 연산은 `mean()` / `min()` / `max()` / `size()`가 있습니다.

In [137]:
df.groupby('sex').mean()

     weight  height
sex
m      78.0   181.0
w      49.5   151.5

In [138]:
df.groupby('sex').min()

     weight  height
sex
m        70     176
w        45     148

In [140]:
df.groupby('sex').size()

sex
m    3
w    2
dtype: int64

In [142]:
df['sex'].value_counts()

m    3
w    2
Name: sex, dtype: int64

`agg` (aggregation) 메서드를 사용해도 같은 기능을 구현할 수 있습니다.

In [148]:
how = {
    "height" : np.mean
}
df.groupby('sex').agg(how)

     height
sex
m     181.0
w     151.5

`agg`를 사용하면 각 컬럼 별로 다른 연산을 적용할 수 있습니다. 딕셔너리 형태로 적용할 연산 정보를 전달해야 합니다.

In [151]:
# 남자꺼만 골라서
r = df.groupby('sex').agg(how)
r.loc['m']

height    181.0
Name: m, dtype: float64

## Reshaping

### Pivot

In [ ]:
data = [
    ["2019", "A", 300, 5],
    ["2019", "B", 200, 4],
    ["2019", "C", 100, 8],
    ["2020", "A", 400, 8],
    ["2020", "B", 230, 3],    
]

columns = ['date', 'item', 'price', 'volume']
df = DataFrame(data=data, columns=columns)
df

   date item  price  volume
0  2019    A    300       5
1  2019    B    200       4
2  2019    C    100       8
3  2020    A    400       8
4  2020    B    230       3

In [ ]:
df.pivot_table(index="date", columns="item", values="price")

item      A      B      C
date
2019  300.0  200.0  100.0
2020  400.0  230.0    NaN

### Melt
컬럼을 variable과 value로 설정해서 데이터를 긴형태로 변환합니다.   
데이터 cleaning에 유리한 형태로 변환합니다.

In [ ]:
import numpy as np

data = [
    ["2019", "A", 300, 5],
    ["2019", "B", np.NaN, 4],
    ["2019", "C", 100, np.NaN],
    ["2020", "A", np.NaN, 8],
    ["2020", "B", 230, np.NaN],    
]

columns = ['date', 'item', 'price', 'volume']
df = DataFrame(data=data, columns=columns)
df

   date item  price  volume
0  2019    A  300.0     5.0
1  2019    B    NaN     4.0
2  2019    C  100.0     NaN
3  2020    A    NaN     8.0
4  2020    B  230.0     NaN

`melt` 메서드를 호출하면 모든 데이터를 `variable`과 `value`로 구분합니다.

`id_vars` 파라미터를 사용하면 남겨놓을 데이터를 지정할 수 있습니다.

   date item variable  value
0  2019    A    price  300.0
1  2019    B    price    NaN
2  2019    C    price  100.0
3  2020    A    price    NaN
4  2020    B    price  230.0
5  2019    A   volume    5.0
6  2019    B   volume    4.0
7  2019    C   volume    NaN
8  2020    A   volume    8.0
9  2020    B   volume    NaN

In [ ]:
t = df.melt()

In [ ]:
t

   variable value
0      date  2019
1      date  2019
2      date  2019
3      date  2020
4      date  2020
5      item     A
6      item     B
7      item     C
8      item     A
9      item     B
10    price   300
11    price   NaN
12    price   100
13    price   NaN
14    price   230
15   volume     5
16   volume     4
17   volume   NaN
18   volume     8
19   volume   NaN

### Unstack / Stack

In [ ]:
df = DataFrame({
    'city'   : ["서울", "서울", "대구", "대구"],
    'sex'    : ['m', 'w', 'm', 'w'],
    'weight' : [76, 88, 54, 70]
})
df

  city sex  weight
0   서울   m      76
1   서울   w      88
2   대구   m      54
3   대구   w      70

In [ ]:
temp = df.groupby(['city', 'sex']).max()
temp

          weight
city sex
대구   m        54
     w        70
서울   m        76
     w        88

남자와 여자에 대한 데이터를 구분해서 분석하고 싶을 수 있습니다.

`unstack` 메서드를 사용하면 하나의 높은 level index를 칼럼으로 변경합니다.

     weight
sex       m   w
city
대구       54  70
서울       76  88

인덱스의 레벨을 지정할 수 있습니다.

     weight
city     대구  서울
sex
m        54  76
w        70  88

`stack`은 `unstack`의 반대로 동작합니다. 데이터를 길게 쌓아 올립니다.

## 파일 I/O
대부분의 데이터는 웹상에 존재하거나 파일 형태로 보관됩니다. 판다스는 파일로 데이터를 쓰거나 읽어 올 수 있는 메서드를 제공합니다.

데이터프레임의 `to_excel` 메서드는 엑셀 파일로 데이터를 저장합니다.

In [167]:
df = DataFrame({
    'sex'    : ['m', 'm', 'w', 'm', 'w'],
    'weight' : [76, 88, 54, 70, 45],
    'height' : [176, 190, 148, 177, 155]        
}, index=["영수", "철수", "영자", "말똥", "영희"])
df

   sex  weight  height
영수   m      76     176
철수   m      88     190
영자   w      54     148
말똥   m      70     177
영희   w      45     155

In [168]:
df.to_excel('/content/drive/MyDrive/Colab Notebooks/data/test.xlsx')

In [169]:
a = pd.read_excel('test.xlsx')
b = a.set_index("Unnamed: 0")
b.index.name = None
b

   sex  weight  height
영수   m      76     176
철수   m      88     190
영자   w      54     148
말똥   m      70     177
영희   w      45     155

In [171]:
pd.read_excel('/content/drive/MyDrive/Colab Notebooks/data/test.xlsx', index_col=0)

   sex  weight  height
영수   m      76     176
철수   m      88     190
영자   w      54     148
말똥   m      70     177
영희   w      45     155

화면에 아무런 값도 출력되지 않지만, 파일로 데이터가 저장된 것을 확인할 수 있습니다.

<img src="https://i.ibb.co/GFDXBcW/pandas-1-1.png" width="350" style="float:left" />

`sheet_name` 속성을 사용하면 엑셀의 시트탭 이름을 변경할 수 있습니다.

In [172]:
df.to_excel('/content/drive/MyDrive/Colab Notebooks/data/test.xlsx', sheet_name = '인적사항')

엑셀에 저장된 데이터도 `pd`의 `read_excel` 메서드를 사용하면 데이터 프레임으로 값을 읽어옵니다.

In [174]:
import pandas as pd

df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/data/test.xlsx')
df

  Unnamed: 0 sex  weight  height
0         영수   m      76     176
1         철수   m      88     190
2         영자   w      54     148
3         말똥   m      70     177
4         영희   w      45     155

자동으로 부여된 인덱스와 함께 데이터를 읽어 온 것을 확인 할 수 있습니다. 의미있는 이름으로 인덱스를 지정해 보겠습니다.

추가적인 연산없이 `read_excel`에 `index_col` 옵션을 사용하면 한 번에 인덱스를 설정할 수 있습니다.

In [ ]:
import pandas as pd

df = pd.read_excel('test.xlsx', index_col=0)
df

   sex  weight  height
영수   m      76     176
철수   m      88     190
영자   w      54     148
말똥   m      70     177
영희   w      45     155